
footer.footer
    //.footer__left-column
    +navList(20)
    p.footer__copyright &copy; 2017, ООО «Международный Психологический Центр»    Конфидициальность
    p.footer__developer Разработано
        img.footer__main-logo(src=require("./images/logo/appvelox.png")
                              srcset="./images/logo/appvelox@2x.png 2x, ./images/logo/appvelox@3x.png 3x"
                              alt="appvelox")

    .footer__middle-column
        h5.footer__h5 Мы в соцсетях
        a(href="https://www.facebook.com")
            img.footer__icon.js-social-icon(src=require('./images/social/fb-grey.svg') alt="FB")
        a(href="https://vk.com")
            img.footer__icon.footer__icon_margin_35.js-social-icon(src=require('./images/social/vk-grey.svg') alt="VK")
        a(href="https://www.instagram.com/?hl=ru")
            img.footer__icon.js-social-icon(src=require('./images/social/ig-grey.svg') alt="IG")

    .footer__right-column
        h5.footer__h5 Мы принимаем
        .footer__wrap
            img(src=require('./images/money/ya-dengi.png') alt="яндекс деньги")
            img.footer__money_margin_12(src=require('./images/money/visa.png') alt="visa")
            img(src=require('./images/money/mastercard.png') alt="mastercard")
